# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/res/db.properties
out/artifacts/Solution_jar/account.txt
out/artifacts/Solution_jar/dvdInfo.txt
out/artifacts/Solution_jar/temp.html
out/production/
/.idea/*
java_direction_class.iml
/src/com/timvanx/biggerdvd/util/db.properties
src/com/timvanx/biggerdvd/util/db.properties
out/test/
/.idea/artifacts/
Solution.iml
/.idea/dataSources/
/.idea/inspectionProfiles/
/WebContent/WEB-INF/classes/
/.idea/
