<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--范天明的servlet配置  开始-->
    <servlet>
        <servlet-name>AccountCheckServlet</servlet-name>
        <servlet-class>web.ftm.servlet.menu.AccountCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountCheckServlet</servlet-name>
        <url-pattern>/ftm/AccountCheck.do</url-pattern>
    </servlet-mapping>
    <!--范天明的servlet配置  结束-->


</web-app>